@import "tailwindcss";

:root {
  --primary-color: #FFBD2B;
  --secondary-color: #0b1b3a;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #0b1b3a;
  /* navy blue */
  position: sticky;
  top: 0;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.logo span {
  color: #ffcc00;
  /* yellow accent */
}

/* MENU */
.menu {
  display: flex;
  gap: 28px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #d6e2ff;
  font-size: 14px;
  padding: 6px 0;
  transition: 0.3s;
}

/* UNIQUE UNDERLINE EFFECT */
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ffcc00;
  transition: 0.3s;
  transform: skewX(-20deg);
}

.menu a:hover {
  color: white;
}

.menu a:hover::after {
  width: 100%;
}

/* CTA BUTTON */
.cta {
  background: #ffcc00;
  color: #0b1b3a;
  border: none;
  padding: 10px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.cta:hover {
  background: #ffd84d;
  transform: translateY(-1px);
}

/* mx-auto px-4 sm:px-6 lg:px-8 */
.container {
  max-width: 540px;
  /* margin: 0 auto;
  padding: 0 32px; */
}



.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 35px;
  height: 35px;
  font-size: 10px !important;
  background-color: #0b1b3a;
  border-radius: 50%;
}

.swiper-wrapper {
  overflow: visible;
}

#category .swiper-button-next,
#category .swiper-button-prev {
  top: 99px !important;
  /* half of image area */
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}



#category .category-product:hover .swiper-button-next,
#category .category-product:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}

/* #category .swiper-button-next {
  right: 0px !important;
} */

#category .swiper,
#products .swiper {
  position: relative;
}

#products .swiper-button-next,
#products .swiper-button-prev {
  /* margin-top: -18px !important; */
  top: 52% !important;
  /* half of image area */
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.swiper-navigation-icon {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
}

#category .swiper-navigation-icon {
  width: 15px !important;
  height: 15px !important;
  text-align: center !important;
}

#products .product-container:hover .swiper-button-next,
#products .product-container:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}


.title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  letter-spacing: 0.5px;
  color: rgb(128, 126, 126);
  font-weight: 400;
  text-align: center;

}

.product-img {
  transition: all 0.4s ease;
}

.group:hover .product-img {
  transform: translateY(-8px);
}

#allproduct .left-side span {
  color: #666666;
}

#allproduct .left-side span:hover {
  color: black;
  cursor: default;
}



@keyframes brandScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-brand-scroll {
  animation: brandScroll 20s linear infinite;
}

.animate-brand-scroll:hover {
  animation-play-state: paused;
}


.testimonialSwiper .swiper-wrapper {
  overflow: visible !important;
  padding-top: 20px;
  align-items: stretch;
}

.testimonialSwiper .swiper-slide {
  height: auto !important;
  display: flex;
}

.testimonialSwiper .swiper-pagination {
  bottom: 0 !important;
}



@media (max-width: 576px) {
  .title {
    font-size: 22px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  #category .swiper {
    padding: 0 0px;
  }

  .subtitle {
    font-size: 13px;
    margin-bottom: 20px;
  }

  /* section {
    margin-top: 50px;

  } */

  #allproduct span {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }

  /* section {
    margin-top: 60px;
  } */

  #allproduct span {
    font-size: 14px;
  }
}

@media (min-width: 768px) {

  #category .swiper,
  #products .swiper {
    padding: 0 15px;
  }

  .footer-bottom-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    max-width: 720px;
  }

  .title {
    font-size: 26px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }

  #category .swiper-button-next,
  #category .swiper-button-prev {
    width: 25px;
    height: 25px;
  }

  #category .swiper {
    padding: 0 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  /* section {
    margin-top: 40px;
  } */
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  #category .swiper-button-next,
  #category .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  /* section {
    margin-top: 80px;
  } */

}


@media (min-width: 1024px) {
  .footer-content {
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
  }


}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .title {
    font-size: 28px;
  }

  section {
    margin: 50px 0;
  }

  #allproduct span {
    font-size: 16px;
  }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}